.border-box {
    box-sizing: border-box;
}

.margin-less {
    margin: 0;
}

.grow {
    flex-grow: 1;
}

.row-flex {
    display: flex;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.box-shadow {
    box-shadow: 0 2px 7px #0001;
}

.bg-colored {
    background: #fafafa;
}